<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Travel Can</title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Vendor CSS Files -->
        <link th:href="@{/htmls/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/htmls/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/htmls/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/htmls/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
        <link th:href="@{/htmls/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
        <link th:href="@{/htmls/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/htmls/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

        <!-- Template Main CSS File -->
        <link th:href="@{/htmls/assets/css/style.css}" rel="stylesheet">

    </head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center" style="background-color: #090B21">

        <div class="d-flex align-items-center justify-content-between">
            <a th:href="@{/travelcan/}" class="logo d-flex align-items-center">
                <img th:src="@{/htmls/assets/travel_can_logo.png}" alt="">
            </a>
            <i class="bi bi-list toggle-sidebar-btn" style="color: white"></i>
        </div><!-- End Logo -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img th:src="@{/htmls/assets/travel_can_logo.png}" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2" style="color:white">Anais Salvador</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Anais Salvador</h6>
                            <span>Lab 5</span>
                        </li>
                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Servicios</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a th:href="@{/viajes/viajes}">
                            <i class="bi bi-circle"></i><span>Viajes</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/mascotas/mascotas}">
                            <i class="bi bi-circle"></i><span>Mascotas</span>
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/lugares/lugaresd}">
                            <i class="bi bi-circle"></i><span>Lugares</span>
                        </a>
                    </li>
                </ul>
            </li><!-- End Charts Nav -->
        </ul>
    </aside><!-- End Sidebar-->
    <main>
        <div class="car">
            <div class="card-body">
                <center><h5>Bienvenido a Travel Can, a continuaición, podrá ingresar al menú y ver nuestras opciones</h5>
                        <img src="https://img.freepik.com/fotos-premium/amigos-campamento-perros-unidos-tienda-campana-medio-belleza-naturaleza_896558-1368.jpg?w=2000" style="height: 30rem;width: 50rem" alt="">
                </center>
            </div>
        </div>
    </main>
    <!-- Template Main JS File -->
    <script th:src="@{/assets/js/main.js}"></script>

</body>
</html>